body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-family: "Lato", sans-serif;
}

.gradient-background {
	background: radial-gradient(#373737, #282828, #202020);
	background-repeat: no-repeat;
	width: 100%;
	top: 0px;
	bottom: 0px;
	position: fixed;
	z-index: -1;
}

a {
	color: #00ddff;
}

.root {
	width: 80%;
	max-width: 960px;
}

.App {
	color: white;
	position: relative;
	margin: 10% auto auto auto;
	max-width: 500px;
	background: #222222;
	padding: 12px;
	padding-top: 24px;
	padding-bottom: 18px;
}
.App::after {
	position: absolute;
	top: -12px;
	bottom: -12px;
	left: 0px;
	right: 0px;
	background: linear-gradient(145deg, #00ddff, #ff44ee);
	content: "";
	z-index: -1;
}

@media (min-width: 496px) {
	.App {
		margin: 5% auto auto auto;
		border-radius: 30px;
		padding: 36px;
		padding-top: 48px;
		padding-bottom: 32px;
	}
	.App::after {
		border-radius: 32px;
		transform: rotate(1deg);
		left: -12px;
		right: -12px;
	}
}

.row {
	margin-left: -12px;
	margin-right: -12px;
}

footer {
	font-size: 14px;
	text-align: center;
}

span.avoidwrap {
	display: inline-block;
}

.instructions img {
	max-width: 100%;
	max-height: 100%;
}
