body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Lato', sans-serif;
}

.gradient-background {
  background: radial-gradient(#363636, #282828, #202020);
  background-repeat: no-repeat;
  width: 100%;
  top: 0px;
  bottom: 0px;
  position: fixed;
  z-index: -1;
}

a {
    color: #00DDFF;
}

.root {
    width: 80%;
    max-width: 960px;
}

.App {
    color: white;
    position: relative;
    margin: 10% auto auto auto;
    max-width: 500px;
    border: 1px solid transparent;
    border-radius: 30px;
    background: #222222;
    padding: 40px;
    padding-bottom: 24px;
}

.App::after {
    position: absolute;
    top: -12px; bottom: -12px;
    left: -12px; right: -12px;
    background: linear-gradient(145deg,#00DDFF,#FF44EE);
    content: '';
    z-index: -1;
    border-radius: 32px;
    transform: rotate(1deg);
}

.App-title {
    font-weight: bolder;
}

footer {
    font-size: 14px;
    text-align: center;
}
